html body {
    background-image: url(https://img.freepik.com/premium-vector/holographic-foil-pastel-gradient-abstract-background_263209-27.jpg?w=1380);    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    max-width: 1000px;
}